.env
.env.local
.env.*.local

mosquitto/certs/*.key
mosquitto/certs/*.pem
mosquitto/certs/server.key
mosquitto/certs/ca.key
mosquitto/certs/*.csr
mosquitto/certs/*.srl

mosquitto/passwd

mosquitto/data/*
!mosquitto/data/.gitkeep
mosquitto/log/*
!mosquitto/log/.gitkeep

__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
env/
ENV/

!back/mosquitto/certs/.gitkeep

node_modules/
dist/
build/