.env
.env.local
.env.*.local

back/mosquitto/certs/*.key
back/mosquitto/certs/*.pem
back/mosquitto/certs/server.key
back/mosquitto/certs/ca.key
back/mosquitto/certs/*.csr
back/mosquitto/certs/*.srl

back/mosquitto/passwd

back/mosquitto/data/*
!back/mosquitto/data/.gitkeep
back/mosquitto/log/*
!back/mosquitto/log/.gitkeep

__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
env/
ENV/

!back/mosquitto/certs/.gitkeep

node_modules/
dist/
build/